In [45]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.8/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.8/site-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/federicoaguirre/Library/Python/3.8/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

# First backend language

In [46]:
import pandas as pd

lang_df = pd.read_csv("Heatmap - Backend.csv", sep=",", header=0) #, keep_default_na=False)
lang_df.head(5)

  Opcion1 Opcion2 Opcion3 Opcion4 Opcion5
0      Go     NaN     NaN     NaN     NaN
1    Java  Python     NaN     NaN     NaN
2  Kotlin     NaN     NaN     NaN     NaN
3    Java      Go  Nodejs     NaN     NaN
4  Python     NaN     NaN     NaN     NaN

In [47]:
lang_df["tieneOpcion1"] = lang_df["Opcion1"].notna()
lang_df["tieneOpcion2"] = lang_df["Opcion2"].notna()
lang_df["tieneOpcion3"] = lang_df["Opcion3"].notna()
lang_df["tieneOpcion4"] = lang_df["Opcion4"].notna()
lang_df["tieneOpcion5"] = lang_df["Opcion5"].notna()
lang_df.head(5)

,Opcion1,Opcion2,Opcion3,Opcion4,Opcion5,tieneOpcion1,tieneOpcion2,tieneOpcion3,tieneOpcion4,tieneOpcion5
0,Go,NaN,NaN,NaN,NaN,True,False,False,False,False
1,Java,Python,NaN,NaN,NaN,True,True,False,False,False
2,Kotlin,NaN,NaN,NaN,NaN,True,False,False,False,False
3,Java,Go,Nodejs,NaN,NaN,True,True,True,False,False
4,Python,NaN,NaN,NaN,NaN,True,False,False,False,False

In [48]:
opcion1_df = lang_df["Opcion1"].value_counts()
opcion1_df

Python    37
Go        26
Java      26
C++       18
Nodejs    18
C#        13
Rust      12
Ruby       8
PHP        7
Elixir     3
Kotlin     2
Cobol      2
Scala      1
Perl       1
Pascal     1
Haskel     1
Name: Opcion1, dtype: int64

In [49]:
opcion2_df = lang_df["Opcion2"].value_counts()
opcion2_df

Python    23
Nodejs    14
C#         8
Java       8
Go         5
Ruby       3
PHP        3
C++        3
Scala      1
Rust       1
Kotlin     1
Name: Opcion2, dtype: int64

In [50]:
opcion3_df = lang_df["Opcion3"].value_counts()
opcion3_df

Nodejs    8
Python    7
Java      3
Go        3
PHP       2
Ruby      1
C#        1
Kotlin    1
Name: Opcion3, dtype: int64

In [51]:
opcion4_df = lang_df["Opcion4"].value_counts()
opcion4_df

Nodejs    2
Go        1
Python    1
C#        1
Rust      1
Java      1
Name: Opcion4, dtype: int64

In [52]:
opcion5_df = lang_df["Opcion5"].value_counts()
opcion5_df

PHP     2
Rust    1
C++     1
Name: Opcion5, dtype: int64

In [53]:

combinado_df = pd.Series(lang_df["Opcion1"].append(lang_df["Opcion2"]).append(lang_df["Opcion3"]).append(lang_df["Opcion4"]).append(lang_df["Opcion5"]))
combinado_df.value_counts()

Python    68
Nodejs    42
Java      38
Go        35
C#        23
C++       22
Rust      15
PHP       14
Ruby      12
Kotlin     4
Elixir     3
Scala      2
Cobol      2
Perl       1
Pascal     1
Haskel     1
dtype: int64